$background: #5e4954;
$light-grey: rgb(226, 226, 226);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5e4954;
  font-family: 'Poppins', sans-serif;

  .logo  {
    color: $light-grey;
    letter-spacing: 5px;
    font-size: 20px;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
     
    li {
      list-style: none;
     
    a {
      color: white;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size:0.8rem;
    }
  }
}
 .burger {
  display: none; 

  div {
    width: 25px;
    height: 3px;
    background-color: $light-grey;
    margin: 5px;
  }
 }
}

@media screen and (max-width: 1024px) {
  body{
    .nav-links {
      width: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
 .nav-linkls {
   position: absolute;
   right: 0px;
   height: 92vh;

 }

  }
}